# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
deno.lock

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# env files
.env*
.temp

/database
/functions/checkout
/functions/orders
/functions/sanity-*
/functions/stripe-webhook
