@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-600 ;
  background: rgb(255,253,218);
  background: linear-gradient(115deg, rgba(255,253,218,1) 65%, rgba(230,170,104,1) 100%);
}

.page {
  @apply mx-8 mt-4 lg:mt-12 lg:mx-24;
}

.bg-gradient {
  background: rgb(175,238,255);
  background: linear-gradient(120deg, rgba(175,238,255,1) 0%, rgba(255,226,163,1) 100%);
}

/* deprecated */
.title-old {
  @apply font-poppins text-3xl text-slate-800 uppercase;
}

.title-accent {
  @apply font-semibold text-purple-500
}

.title {
  @apply font-unbounded text-xl md:text-4xl text-title uppercase
}

.subtitle {
  @apply font-unbounded text-2xl md:text-xl text-accent uppercase
}

.text {
  @apply font-unbounded text-title
}

/* deprecated */
.text-old {
  @apply text-slate-500;
}

form .label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}



.min-h-10 {
  min-height: 19rem;
}

.scale {
  transform: scale(-1);
}

.page-container {
  @apply mt-4 md:mx-20;
}

/* deprecated */
.form-input {
  @apply appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500;
}

form .field {
  @apply appearance-none bg-transparent block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:border-purple-300;
}

form .field-helper {
  @apply text-slate-600 text-xs
}

form .field-helper > button {
  @apply text-purple-500
}

form .field-error {
  @apply text-red-500 text-xs
}

form .field-invalid {
  @apply border-red-500
}

.link {
  @apply text-blue-700 hover:text-blue-500
}

.p-inputtext, .p-autocomplete, .p-dropdown, .p-calendar {
  width: 100%;
}

/* deprecated */
.validation-error {
  @apply text-red-500 text-xs
}
